<div class="container">
  <div class="title-section text-centered">
    <h1>Somos una agencia de diseño de páginas web</h1>
    <h1>¡Contáctanos!</h1>
  </div>
  <div class="form-section text-centered">
    <input
      class="input-text"
      type="text"
      id="nombre"
      placeholder="Nombre Completo"
    />
    <input class="input-text" type="text" placeholder="Correo electrónico" />
    <br />
    <input class="input-text" type="number" placeholder="Número de teléfono" />
    <br />

    <div class="line-break">
      <h3 class="mx-5 mt-2 d-flex justify-content-start">Tipo de empresa</h3>
      <input type="checkbox" />Emprendedor <input type="checkbox" />Microempresa
      (hasta 10 personas) <input type="checkbox" />Pequeñas (hasta 30 personas)
      <input type="checkbox" />Medianas (hasta 100 personas)
      <input type="checkbox" />Grandes (hasta 150 personas)
    </div>

    <textarea
      class="input-textarea line-break"
      name="message"
      id="message"
      placeholder="Mensaje"
      cols="135"
      rows="10"
    ></textarea>
    <div class="checkbox-style line-break">
      <input type="checkbox" />He leído y acepto los términos y condiciones de
      uso
    </div>
    <button class="submit-button line-break">ENVIAR</button>

    <h3 class="mt-5">¡Visítanos!</h3>
    <ul class="row-icons">
      <li class="element-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 9.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" />
          <path d="M6.428 12.494l7.314 -9.252" />
          <path d="M10.002 7.935l-2.937 -2.545" />
          <path d="M17.693 6.593l-8.336 9.979" />
          <path
            d="M17.591 6.376c.472 .907 .715 1.914 .709 2.935a7.263 7.263 0 0 1 -.72 3.18a19.085 19.085 0 0 1 -2.089 3c-.784 .933 -1.49 1.93 -2.11 2.98c-.314 .62 -.568 1.27 -.757 1.938c-.121 .36 -.277 .591 -.622 .591c-.315 0 -.463 -.136 -.626 -.593a10.595 10.595 0 0 0 -.779 -1.978a18.18 18.18 0 0 0 -1.423 -2.091c-.877 -1.184 -2.179 -2.535 -2.853 -4.071a7.077 7.077 0 0 1 -.621 -2.967a6.226 6.226 0 0 1 1.476 -4.055a6.25 6.25 0 0 1 4.811 -2.245a6.462 6.462 0 0 1 1.918 .284a6.255 6.255 0 0 1 3.686 3.092z"
          />
        </svg>
        <h2>Dirección</h2>
        <span>Calle 70 No 28 - 69 / </span>
        <span>San Fernando / </span>
        <span>Bogotá - Colombia</span>
      </li>
      <li class="element-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
          />
          <path d="M16 3v4" />
          <path d="M8 3v4" />
          <path d="M4 11h16" />
          <path d="M7 14h.013" />
          <path d="M10.01 14h.005" />
          <path d="M13.01 14h.005" />
          <path d="M16.015 14h.005" />
          <path d="M13.015 17h.005" />
          <path d="M7.01 17h.005" />
          <path d="M10.01 17h.005" />
        </svg>
        <h2>Horario</h2>
        <span>Lunes a viernes 8:00am - 5:30pm / </span>
        <span>Sábados 8:00am - 1:00pm</span>
      </li>
      <li class="element-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
          />
          <path d="M15 7a2 2 0 0 1 2 2" />
          <path d="M15 3a6 6 0 0 1 6 6" />
        </svg>
        <h2>Teléfonos</h2>
        <span>Fijo: 602 402 2878</span>
        <span>Móvil: 320 2657128 - 318 7693876</span>
      </li>

      <li class="element-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          />
          <path d="M3 7l9 6l9 -6" />
        </svg>
        <h2>Correo</h2>
        <span
          ><a href="mailto:ingenierosgrupo17@gmail.com"
            >ingenierosgrupo17@gmail.com</a
          ></span
        >
      </li>
    </ul>
  </div>
</div>
