<!-- NAVBAR -->
<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo en el lado izquierdo -->
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.jpg" alt="Ingenieros Grupo 17" width="290" />
      </a>
      <!-- Elementos de navegación -->

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Califícanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reviews">Reseñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- END NAVBAR -->
