<div class="container-fluid">
  <div class="card text-white">
    <div class="row gx-4 gx-lg-5 align-items-center"></div>
    <img src="assets/img/fondo-principal.png" class="card-img" alt="" />
    <div class="card-img-overlay">
      <div class="container col-m3"></div>

      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <h1 class="display-5 fw-bolder">
          Creamos tu sitio web Profesional en solo minutos
        </h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">$45.00</span>
          <span>$40.00</span>
        </div>
        <p class="lead">
          Transformar tu negocio simplifica los procesos, mejora. la experiencia
          del usuario y ofrece sistema común para gestionar y hacer crecer tu
          empresa con eficacia
        </p>

        <div class="container p-4 pb-0">
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Conoce nuestro portafolio</strong>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input
                      type="email"
                      id="form5Example26"
                      class="form-control"
                    />
                    <label class="form-label" for="form5Example26"
                      >Email address</label
                    >
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button
                    data-mdb-ripple-init
                    type="submit"
                    class="btn btn-primary mb-4"
                  >
                    Registrate
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
        </div>
      </div>
    </div>
  </div>
</div>
