<div class="container">
    <div class="section section-background">
        <div class="titulo_reseñas mb-4">
            <h2>Reseñas</h2>
          </div>
          
          <!--contenedor de tarjetas-->
          <div class="contenedor_tarjetas">
            <!--tarjetas de reseñas-->
          
            <!--tarjeta uno-->
            <div class="tarjeta_izquierda">
              <div class="card" style="width: 18rem">
                <img class="imagen" src="assets/img/bimbo.png" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Panaderia Bimbo</h5>
                  <h6 style="color: grey">Andres Garcia. CEO</h6>
                  <p class="card-text">
                    La página web que Grupo de Ingenieros 17 creó para nuestra panadería
                    es simplemente perfecta. Ahora nuestros productos se ven tan
                    deliciosos en línea como en persona. ¡Gracias por hacer nuestra
                    presencia digital tan tentadora!
                  </p>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                </div>
              </div>
            </div>
          
            <!--tarjeta dos-->
            <div class="tarjeta_centro">
              <div class="card" style="width: 18rem">
                <img
                  class="imagen"
                  src="assets/img/bicicletas.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Ciclas SAS</h5>
                  <h6 style="color: grey">Juan Rodriguez. CEO</h6>
                  <p class="card-text">
                    Grupo de Ingenieros 17 hizo un trabajo increíble con nuestra página
                    web. Es atractiva, fácil de usar y ha impulsado nuestras ventas en
                    línea. fueron excelentes ¡Gracias por llevar nuestra tienda al
                    siguiente nivel!
                  </p>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="starbad">&starf;</span>
                </div>
              </div>
            </div>
          
            <!--tarjeta tres-->
            <div class="tarjeta_derecha">
              <div class="card" style="width: 18rem">
                <img class="imagen" src="assets/img/elon.png" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Invoice SAS</h5>
                  <h6 style="color: grey">Manuel Perez. CEO</h6>
                  <p class="card-text">
                    El API desarrollado por Grupo de Ingenieros 17 ha transformado nuestra
                    forma de facturar. Es eficiente, fácil de integrar y nos ha ahorrado
                    mucho tiempo y esfuerzo. ¡Gracias por simplificar nuestro proceso de
                    facturación!
                  </p>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                  <span class="star">&starf;</span>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="boton">
        <button class="btn btn-primary" type="submit">Calificanos</button>
    </div>
</div>


